body {
  background-image: linear-gradient(to right, #0684ac66, #0684ac);
  font-family: 'Lato', sans-serif;
}

.logo {
  padding: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
  height: 570px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid orange;
  background: white;
  margin-top: 10vh;
}
.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.employee-search,
.submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.employee-search {
  border: 1px solid grey;
  height: 30px;
  width: 65%;
  text-align: center;
}

.header {
  color: #3b3939d6;
  margin-top: 50px;
  font-size: 40px;
}

.submit {
  background-color: #00b8d4;
  border: none;
  color: white;
  height: 50px;
  width: 132px;
  font-size: 25px;
}

.employee-geo {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 65px;
  font-family: 'open sans';
  font-size: 25px;
  font-weight: bold;
}

.text-blue {
  color: #0885ac;
}

.text-red {
  color: #de0000;
}

.text-center {
  text-align: center;
}

input[type='text'] {
  color: #3b3939d6;
  font-size: 25px;
  width: 300px;
  height: 65px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #3b3939d6;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #3b3939d6;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #3b3939d6;
}

/* Mobile Responsive */
@media only screen and (max-width: 575px) {
  body {
    background-image: unset;
    padding: 10px;
  }
  .container {
    border: unset;
    margin-top: unset;
  }
  .submit {
    margin-top: 40px;
  }
}
